<h2>Bienvenu Goblins </h2>

<button class="action-btn" (click)="OnFindGoblins()">Trouver des amis goblins !</button>
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Votre profil"><app-profile *ngIf="monster$ | async as monster" [monster]="monster"></app-profile></mat-tab>
    <mat-tab label="Vos amis"><app-friend-list></app-friend-list></mat-tab>
    <mat-tab label="Modifier profil"><app-update-profile *ngIf="monster$ | async as monster" [monster]="monster"></app-update-profile></mat-tab>
</mat-tab-group>