<div class="profile-container">
    <div class="profile-header">
        <img class="profile-img" src="../../../assets/image/goblin.png" alt="profile-image">
        <h3>{{ monster.monsterName }}</h3>
        <form class="login-form" novalidate [formGroup]="updateForm" (ngSubmit)="onUpdateSubmit()">
            <mat-form-field class="form-field" appearance="fill">
                <mat-label>Rôle</mat-label>
                <mat-select formControlName="role">
                  <mat-option value="guerrier" >Guerrier</mat-option>
                  <mat-option value="alchimiste">Alchimiste</mat-option>
                  <mat-option value="sorcier">Sorcier</mat-option>
                  <mat-option value="espion">Espion</mat-option>
                  <mat-option value="enchanteur">Enchanteur</mat-option>
                </mat-select>
              </mat-form-field>
            <button type="submit" class="action-btn">Changer</button>
        </form>
    </div>
    <div class="profile-data">
        <h3>Description:</h3>
        <p class="profile-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos maiores rerum vitae ea, quas at repellat. Magni ab ut, sed nulla quod voluptates. Debitis id sequi assumenda animi rerum nisi a saepe? Corrupti sit expedita itaque voluptas nostrum officia vero, fugit accusamus temporibus dolore iusto molestiae impedit quidem, dignissimos nulla!
        </p>
    </div>

</div>
